**/node_modules

.vs
.vscode
**/.DS_Store

**/.env*
**/.git
**/.gitignore
**/.prettierignore
**/eslint.config.js
**/prettier.config.js

**/*.md
**/*.txt

# Exclude shell scripts from the build context
**/scripts