/*___________________ MAIN FONT __________________ */
/* Load the variable font */
@font-face {
  /* Use VF to make it distinguishable from static fonts */
  font-family: 'Inter VF';
  src:
    local('Inter'),
    /* Main modern font format */
      url('/assets/fonts/inter/Inter-VariableFont_wght.woff2')
      format('woff2-variations'),
    /* Fallback font format */
      url('/assets/fonts/inter/Inter-VariableFont_wght.woff')
      format('woff-variations'),
    url('/assets/fonts/inter/Inter-VariableFont_wght.ttf')
      format('truetype-variations');
  font-style: normal;
  /* Allowable range for the weight of the variable font */
  font-weight: 400 700;
  /* Displaying text quickly is a top priority, but ensure the custom web-font is used */
  font-display: swap;
}

/* Load the static fonts as a fallback */
@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('/assets/fonts/inter/static/Inter_18pt-Regular.woff2') format('woff2'),
    url('/assets/fonts/inter/static/Inter_18pt-Regular.woff') format('woff'),
    url('/assets/fonts/inter/static/Inter_18pt-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('/assets/fonts/inter/static/Inter_18pt-Medium.woff2') format('woff2'),
    url('/assets/fonts/inter/static/Inter_18pt-Medium.woff') format('woff'),
    url('/assets/fonts/inter/static/Inter_18pt-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('/assets/fonts/inter/static/Inter_18pt-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/inter/static/Inter_18pt-SemiBold.woff') format('woff'),
    url('/assets/fonts/inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('/assets/fonts/inter/static/Inter_18pt-Bold.woff2') format('woff2'),
    url('/assets/fonts/inter/static/Inter_18pt-Bold.woff') format('woff'),
    url('/assets/fonts/inter/static/Inter_18pt-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
/*________________________________________________ */

/*_____________ EDITOR CUSTOM FONT _______________ */
/* Load the variable font */
@font-face {
  /* Use VF to make it distinguishable from static fonts */
  font-family: 'Fira Code VF';
  src:
    local('Fira Code'),
    /* Main modern font format */
      url('/assets/fonts/fira-code/FiraCode-VariableFont_wght.woff2')
      format('woff2-variations'),
    /* Fallback font format */
      url('/assets/fonts/fira-code/FiraCode-VariableFont_wght.woff')
      format('woff-variations'),
    url('/assets/fonts/fira-code/FiraCode-VariableFont_wght.ttf')
      format('truetype-variations');
  font-style: normal;
  /* Allowable range for the weight of the variable font */
  font-weight: 400 400;
  /* Displaying text quickly is a top priority, but ensure the custom web-font is used */
  font-display: swap;
}

/* Load the static fonts as a fallback */
@font-face {
  font-family: 'Fira Code';
  src:
    local('Fira Code'),
    url('/assets/fonts/fira-code/static/FiraCode-Regular.woff2') format('woff2'),
    url('/assets/fonts/fira-code/static/FiraCode-Regular.woff') format('woff'),
    url('/assets/fonts/fira-code/static/FiraCode-Regular.ttf')
      format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/*________________________________________________ */

@import 'tailwindcss';

@plugin 'tailwindcss-animate';

/* Use the @custom-variant directive to add a custom variant to the project */
@custom-variant dark (&:is(.dark *));
@custom-variant dark-only (&:is(.dark:not(.system) *));
@custom-variant system (&:is(.system *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(44.4% 0.177 26.899);
  --destructive-foreground: oklch(44.4% 0.177 26.899);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --link: oklch(54.6% 0.245 262.881);
  --success: oklch(0.7263 0.21 148.03);
  --error: oklch(0.6378 0.2373 25.44);
  --warning: oklch(0.7712 0.1721 65.68);

  --codejam-accent: oklch(0.5 0.1193 242.75);
  --codejam-accent-300: oklch(0.5934 0.1041 236.47);
  --snippet-card-background: oklch(1 0 0);
  --snippet-card-foreground: var(--codejam-accent);
}

.dark {
  --background: oklch(0.2103 0.0059 285.89);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: var(--background);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(63.7% 0.237 25.331);
  --destructive-foreground: oklch(63.7% 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --link: oklch(62.3% 0.214 259.815);
  --success: oklch(0.7915 0.2089 151.62);
  --error: oklch(0.7007 0.1882 22.19);
  --warning: oklch(0.8309 0.171389 81.5486);

  --codejam-accent: oklch(0.7587 0.1193 242.75);
  --snippet-card-background: oklch(0.3143 0.0053 286.09);
  --snippet-card-foreground: var(--codejam-accent);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-link: var(--link);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);

  --color-codejam-accent: var(--codejam-accent);
  --color-codejam-accent-300: var(--codejam-accent-300);
  --color-snippet-card-background: var(--snippet-card-background);
  --color-snippet-card-foreground: var(--snippet-card-foreground);

  --font-main: 'Inter VF', 'Inter', sans-serif;
  --font-editor: 'Fira Code VF', 'Fira Code', monospace;
}

/* Use the @theme directive to define project's custom design tokens, like fonts, colors, and breakpoints */
@theme {
  --animate-shimmer: shimmer 1s infinite;
  @keyframes shimmer {
    to {
      background-position-x: 0%;
    }
  }
}

/* Use the @layer base directive to add default styles for specific HTML elements */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-main;
  }
}

/* Use the @layer component directive to add more complicated classes that can still be overriden with utility classes */
@layer component {
  .shimmer {
    background: linear-gradient(
      -45deg,
      var(--muted-foreground) 40%,
      var(--foreground) 50%,
      var(--muted-foreground) 60%
    );
    background-size: 300%;
    background-position-x: 100%;
  }
}
/* Use the @utility directive to add custom utilities to your project that work with variants like hover, focus and lg */
@utility gradient-accent {
  @apply bg-gradient-to-r from-[#0369A1] via-[#7DD3FC] to-[#0369A1];
}
